<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ejs test</title>
</head>
<body>
    <p>我是大黑哥，我正在学习<%= a %></p>
    <ul>
    <% for (var i = 0;i<news.length;i++){ %>
        <li><%= news[i] %></li>
    <% } %>
    </ul>
</body>
</html>