<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>ejs模板测试</title>
</head>
<body>
    <ul>
    <% for (var i = 0;i<news.length;i++){ %>
        <li><%= news[i] %></li>
    <% } %>
    </ul>
</body>
</html>